/*Cuerpo de pagina */  

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
}


/*Menu nav y logo*/


.navbar-brand{
    width: 15%;
    animation-name: logo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes logo{
  from {
    transform: rotatex(0deg)
  }
  to{
    transform: rotateX(360deg)
  }
}
#logo{
    width: 70px;
    height: 70px;
}
img{
    width: 100%;
}
#aM{
    font-size: 20px;
}
/*Seccion Formulario*/
#contacto{
    padding-top: 200px;
    width: 100%;
    display: grid;
    grid-template-columns:  300px ;
    grid-template-rows: 300px ;
    grid-template-areas: "form form form";
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 100px;
    margin-bottom: 200px;

}
#form{
    grid-area: form;
}
#textColor{
    color: white;
}
/*spornsors*/
.grid-Carousel{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 400px;
    grid-template-areas: "carousel";
    justify-content: center;
    align-items: center;
}
#carouselExampleSlidesOnly{
    grid-area: carousel;
}
/*media query de una parte del carousel que me quedaba muy abajo*/
@media only screen and (min-width: 768px){

    .grid-Carousel{
        align-items: initial;
    }
}
/*Pie de Pagina*/

footer{ 
    

    background-image: linear-gradient(to top, rgba(10, 10, 10, 0.884),rgba(10, 10, 10, 0.884));
    width: 100%;
    height: 100px;
}
#barraFooter{
    display: grid;
    grid-template-areas: "yo fa in tw";   
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 50px;

    
    justify-content: space-around;
    align-items: center;


}
.iN{
        grid-area: in;
    }
.yT{
        grid-area: yo;
    }
.fB{
        grid-area: fa;
    }
.tC{
        grid-area: tw;
    } 

