@charset "UTF-8";
/*Cuerpo de pagina */
* body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: url(../img/fondo.jpg) no-repeat center center fixed;
  background-size: cover; }

/*Menu nav y logo*/
.navbar-brand {
  width: 15%;
  animation-name: logo;
  animation-duration: 6s;
  animation-iteration-count: infinite; }

@keyframes logo {
  from {
    transform: rotatex(0deg); }
  to {
    transform: rotateX(360deg); } }
  .navbar-brand #logo {
    width: 70px;
    height: 70px; }
  .navbar-brand img {
    width: 100%; }
  .navbar-brand #aM {
    font-size: 20px; }

/*Index*/
/*Video Promocional*/
#acerca {
  margin-top: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 640px 400px;
  grid-template-rows: 500px;
  grid-template-areas: "video resena";
  background-color: #1c1c20;
  justify-content: center;
  align-items: center;
  column-gap: 50px; }
  #acerca .video {
    grid-area: video; }
  #acerca iframe {
    width: 640px;
    height: 480px; }
  #acerca .reseña {
    grid-area: resena; }
    #acerca .reseña p {
      text-align: justify;
      color: rgba(255, 255, 255, 0.808);
      font-size: 20px;
      line-height: 1.3; }

/*Pie de Pagina*/
footer {
  margin-top: 500px;
  display: grid;
  grid-template-columns: 150px 60px;
  grid-template-rows: 120px  120px 50px;
  grid-template-areas: "Marca" "redes" "bF";
  background-color: #1c1c20;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center; }
  footer .marca {
    padding-top: 30px;
    grid-area: Marca;
    width: 120px;
    height: 120px; }
  footer #breadFooter {
    grid-area: bF; }
  footer #redes {
    padding-top: 20px;
    grid-area: redes;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: "in yo fb tw";
    justify-content: space-around;
    align-items: center;
    column-gap: 30px; }
  footer .iN {
    grid-area: in; }
  footer .yT {
    grid-area: yo; }
  footer .fB {
    grid-area: fa; }
  footer .tC {
    grid-area: tw; }
  footer img {
    width: 100%; }

/*Compras*/
/*Grilla Indumentaria*/
#grillaIndu {
  padding-top: 200px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 800px 800px 800px;
  row-gap: 0px;
  /*Remeras*/
  /*Buzos*/
  /*Gorras*/ }
  #grillaIndu img {
    width: 100%; }
  #grillaIndu .card-img-top:hover {
    transform: scale(1.1, 1.1);
    transition: 1s; }
  #grillaIndu .remeras {
    display: grid;
    justify-content: center;
    grid-template-columns: 311px 311px;
    grid-template-rows: 568px;
    grid-template-areas: "RH RM";
    row-gap: 30px; }
    #grillaIndu .remeras .card-body {
      background-color: rgba(32, 32, 32, 0.87); }
    #grillaIndu .remeras .card {
      background-color: transparent;
      color: white; }
    #grillaIndu .remeras #rH {
      grid-area: RH;
      border: none; }
    #grillaIndu .remeras #rM {
      grid-area: RM;
      border: none; }
  #grillaIndu .buzos {
    display: grid;
    justify-content: center;
    grid-template-columns: 311px 311px;
    grid-template-rows: 568px;
    grid-template-areas: "BH BM";
    row-gap: 30px; }
  #grillaIndu .card-body {
    background-color: rgba(32, 32, 32, 0.705); }
  #grillaIndu .card {
    background-color: transparent;
    color: white; }
  #grillaIndu #bH {
    grid-area: BH;
    border: none; }
  #grillaIndu #bM {
    grid-area: BM;
    border: none; }
  #grillaIndu .gorras {
    display: grid;
    justify-content: center;
    grid-template-columns: 311px 311px;
    grid-template-rows: 568px;
    grid-template-areas: "GH GM";
    row-gap: 30px; }
    #grillaIndu .gorras .card-body {
      background-color: rgba(32, 32, 32, 0.87); }
    #grillaIndu .gorras .card {
      background-color: transparent;
      color: white; }
    #grillaIndu .gorras #gH {
      grid-area: GH;
      border: none; }
    #grillaIndu .gorras #gM {
      grid-area: GM;
      border: none; }

/*Juegos*/
/*Grilla de imagenes*/
#grilla {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 700px 800px;
  justify-items: center;
  align-items: center;
  grid-template-areas: "sec1" "sec2";
  /*seccion 1*/
  /*seccion 2*/ }
  #grilla .img-fluid:hover {
    transform: scale(1.1, 1.1);
    transition: 1s; }
  #grilla .sec1 {
    width: 1000px;
    background-color: #1c1c20;
    height: 550px;
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 120px 200px 200px;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: space-evenly;
    grid-template-areas: "titulo1" "wZ" "rE";
    grid-area: sec1; }
    #grilla .sec1 .titulo1 {
      color: #bebebe;
      grid-area: titulo1;
      align-self: center;
      justify-self: center; }
    #grilla .sec1 #wZ {
      min-width: 900px;
      grid-area: wZ;
      align-self: center;
      justify-self: center; }
    #grilla .sec1 #rE {
      min-width: 900px;
      grid-area: rE;
      align-self: center;
      justify-self: center; }
    #grilla .sec1 img {
      width: 100%; }
  #grilla .sec2 {
    width: 1000px;
    background-color: #1c1c20;
    height: 1000px;
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 120px 150px 150px 150px 150px 150px;
    row-gap: 10px;
    column-gap: 30px;
    justify-content: center;
    grid-template-areas: "titulo2" "dO" "sC" "wC" "aOE" "hR";
    grid-area: sec2; }
    #grilla .sec2 .titulo2 {
      color: #bebebe;
      grid-area: titulo2;
      align-self: center;
      justify-self: center; }
    #grilla .sec2 #dO {
      min-width: 720px;
      grid-area: dO;
      align-self: center;
      justify-self: center; }
    #grilla .sec2 #sC {
      min-width: 720px;
      grid-area: sC;
      align-self: center;
      justify-self: center; }
    #grilla .sec2 #wC {
      min-width: 720px;
      grid-area: wC;
      align-self: center;
      justify-self: center; }
    #grilla .sec2 #aOE {
      min-width: 720px;
      grid-area: aOE;
      align-self: center;
      justify-self: center; }
    #grilla .sec2 #hR {
      min-width: 720px;
      grid-area: hR;
      align-self: center;
      justify-self: center; }
    #grilla .sec2 img {
      width: 100%; }

/*Contacto*/
/*Seccion Formulario*/
#contacto {
  margin-top: 300px;
  width: 100%;
  display: grid;
  background-color: #1c1c20;
  grid-template-columns: 300px 500px;
  grid-template-rows: 300px;
  grid-template-areas: "form form sponsors";
  justify-content: space-around;
  align-items: center;
  column-gap: 40px;
  row-gap: 100px;
  /*spornsors*/ }
  #contacto #form {
    grid-area: form;
    padding-right: 10px;
    border-right: 2px solid rgba(0, 0, 0, 0.568); }
  #contacto #textColor {
    color: white; }
  #contacto .grid-Carousel {
    grid-area: sponsors; }
    #contacto .grid-Carousel #carouselExampleSlidesOnly {
      grid-area: carousel; }

/*MediaQuerys*/
/* small devices (tablets, 548px)*/
@media only screen and (max-width: 548px) {
  .navbar-brand #aM {
    font-size: 13px; }
  #acerca {
    grid-template-columns: 250px;
    grid-template-rows: 280px;
    grid-template-areas: "video"  "resena";
    background-color: #1c1c20;
    align-items: center;
    column-gap: 25px; }
    #acerca iframe {
      width: 250px;
      height: 180px; }
    #acerca .reseña p {
      font-size: 12px;
      line-height: 1.1; }
  #grilla {
    grid-template-columns: 100%;
    grid-template-rows: 800px 1800px;
    justify-items: center;
    align-items: center;
    grid-template-areas: "sec1" "sec2";
    /*seccion 1*/
    /*seccion 2*/ }
    #grilla .img-fluid:hover {
      transform: scale(1.5, 1.5);
      transition: 1s; }
    #grilla .sec1 {
      width: 100%;
      background-color: #1c1c20;
      height: 800px;
      display: grid;
      grid-template-columns: 30% 30%;
      grid-template-rows: 120px 370px;
      row-gap: 130px;
      column-gap: 50px;
      justify-content: center;
      grid-template-areas: "titulo1 titulo1" "wZ rE"; }
      #grilla .sec1 .titulo1 {
        grid-area: titulo1; }
      #grilla .sec1 #wZ {
        grid-area: wZ;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec1 #rE {
        min-width: 40px;
        grid-area: rE;
        font-size: 12px; }
      #grilla .sec1 img {
        width: 200px; }
    #grilla .sec2 {
      width: 100%;
      background-color: #1c1c20;
      height: 1500px;
      display: grid;
      grid-template-columns: 30% 30%;
      grid-template-rows: 120px 370px 370px 370px;
      row-gap: 50px;
      column-gap: 50px;
      justify-content: center;
      grid-template-areas: "titulo2 titulo2" "dO sC" "wC aOE" "hR hR";
      grid-area: sec2; }
      #grilla .sec2 .titulo2 {
        grid-area: titulo2; }
      #grilla .sec2 #dO {
        grid-area: dO;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 #sC {
        grid-area: sC;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 #wC {
        grid-area: wC;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 #aOE {
        grid-area: aOE;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 #hR {
        grid-area: hR;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 img {
        width: 300px; }
  #grillaIndu {
    grid-template-rows: 1400px 1400px 1400px;
    /*Remeras*/ }
    #grillaIndu .remeras {
      grid-template-columns: 311px;
      grid-template-rows: 568px 568px;
      grid-template-areas: "RH"  "RM";
      column-gap: 0px;
      row-gap: 150px; }
    #grillaIndu .buzos {
      grid-template-columns: 311px;
      grid-template-rows: 568px 568px;
      grid-template-areas: "BH" "BM";
      column-gap: 0px;
      row-gap: 150px; }
    #grillaIndu .gorras {
      grid-template-columns: 311px;
      grid-template-rows: 568px 568px;
      grid-template-areas: "GH" "GM";
      column-gap: 0px;
      row-gap: 150px; }
  /*Contacto*/
  /*Seccion Formulario*/
  #contacto {
    grid-template-columns: 60% 25%;
    grid-template-rows: 200px;
    height: 700px;
    grid-template-areas: "form sponsors" "form sponsors";
    justify-content: space-evenly;
    align-items: center; }
  footer {
    grid-template-columns: 150px;
    grid-template-rows: 90px  30px 30px;
    width: 100%;
    height: 200px;
    column-gap: 20px;
    row-gap: 20px; }
    footer .marca {
      width: 90px;
      height: 90px; }
    footer #redes {
      grid-template-columns: 30px 30px 30px 30px;
      grid-template-rows: 30px; } }

/* small devices (tablets, 548px and up)*/
@media only screen and (min-width: 548px) {
  .navbar-brand #aM {
    font-size: 13px; }
  #acerca {
    grid-template-columns: 320px 200px;
    grid-template-rows: 450px;
    grid-template-areas: "video resena";
    background-color: #1c1c20;
    justify-content: space-evenly;
    align-items: center; }
    #acerca .video {
      grid-area: video; }
    #acerca iframe {
      width: 320px;
      height: 240px; }
    #acerca .reseña {
      grid-area: resena; }
      #acerca .reseña p {
        text-align: justify;
        font-size: 15px;
        line-height: 1.1; }
  #grilla {
    grid-template-columns: 100%;
    grid-template-rows: 800px 1800px;
    justify-items: center;
    align-items: center;
    grid-template-areas: "sec1" "sec2";
    /*seccion 1*/
    /*seccion 2*/ }
    #grilla .img-fluid:hover {
      transform: scale(1.5, 1.5);
      transition: 1s; }
    #grilla .sec1 {
      width: 100%;
      background-color: #1c1c20;
      height: 650px;
      display: grid;
      grid-template-columns: 30% 30%;
      grid-template-rows: 120px 370px;
      row-gap: 50px;
      column-gap: 50px;
      justify-content: center;
      grid-template-areas: "titulo1 titulo1" "wZ rE"; }
      #grilla .sec1 .titulo1 {
        grid-area: titulo1; }
      #grilla .sec1 #wZ {
        grid-area: wZ;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec1 #rE {
        min-width: 40px;
        grid-area: rE;
        font-size: 12px; }
      #grilla .sec1 img {
        width: 200px; }
    #grilla .sec2 {
      width: 100%;
      background-color: #1c1c20;
      height: 1500px;
      display: grid;
      grid-template-columns: 30% 30%;
      grid-template-rows: 120px 370px 370px 370px;
      row-gap: 50px;
      column-gap: 50px;
      justify-content: center;
      grid-template-areas: "titulo2 titulo2" "dO sC" "wC aOE" "hR hR";
      grid-area: sec2; }
      #grilla .sec2 .titulo2 {
        grid-area: titulo2; }
      #grilla .sec2 #dO {
        grid-area: dO;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 #sC {
        grid-area: sC;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 #wC {
        grid-area: wC;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 #aOE {
        grid-area: aOE;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 #hR {
        grid-area: hR;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 img {
        width: 300px; }
  #grillaIndu {
    grid-template-rows: 1400px 1400px 1400px;
    /*Remeras*/ }
    #grillaIndu .remeras {
      grid-template-columns: 311px;
      grid-template-rows: 568px 568px;
      grid-template-areas: "RH"  "RM";
      column-gap: 0px;
      row-gap: 150px; }
    #grillaIndu .buzos {
      grid-template-columns: 311px;
      grid-template-rows: 568px 568px;
      grid-template-areas: "BH" "BM";
      column-gap: 0px;
      row-gap: 150px; }
    #grillaIndu .gorras {
      grid-template-columns: 311px;
      grid-template-rows: 568px 568px;
      grid-template-areas: "GH" "GM";
      column-gap: 0px;
      row-gap: 150px; }
  footer {
    grid-template-columns: 150px;
    grid-template-rows: 90px  30px 30px;
    width: 100%;
    height: 200px;
    column-gap: 20px;
    row-gap: 20px; }
    footer .marca {
      width: 90px;
      height: 90px; }
    footer #redes {
      grid-template-columns: 30px 30px 30px 30px;
      grid-template-rows: 30px; }
  /*Contacto*/
  /*Seccion Formulario*/
  #contacto {
    grid-template-columns: 250px 200px;
    grid-template-rows: 200px;
    grid-template-areas: "form sponsors" "form sponsors";
    justify-content: space-around;
    align-items: center; } }

/* Medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
  .navbar-brand #aM {
    font-size: 17px; }
  #acerca {
    grid-template-columns: 320px 250px;
    grid-template-rows: 450px;
    grid-template-areas: "video resena";
    background-color: #1c1c20;
    justify-content: space-evenly;
    align-items: center; }
    #acerca iframe {
      width: 350px;
      height: 250px; }
    #acerca .reseña p {
      text-align: justify;
      font-size: 17px;
      line-height: 1.1; }
  #grilla {
    grid-template-columns: 100%;
    grid-template-rows: 800px 1800px;
    justify-items: center;
    align-items: center;
    grid-template-areas: "sec1" "sec2";
    /*seccion 1*/
    /*seccion 2*/ }
    #grilla .img-fluid:hover {
      transform: scale(1.5, 1.5);
      transition: 1s; }
    #grilla .sec1 {
      width: 100%;
      background-color: #1c1c20;
      height: 650px;
      display: grid;
      grid-template-columns: 45% 45%;
      grid-template-rows: 120px 370px;
      row-gap: 50px;
      column-gap: 50px;
      justify-content: center;
      grid-template-areas: "titulo1 titulo1" "wZ rE"; }
      #grilla .sec1 .titulo1 {
        grid-area: titulo1; }
      #grilla .sec1 #wZ {
        grid-area: wZ;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec1 #rE {
        min-width: 40px;
        grid-area: rE;
        font-size: 12px; }
      #grilla .sec1 img {
        width: 200px; }
    #grilla .sec2 {
      width: 100%;
      background-color: #1c1c20;
      height: 1500px;
      display: grid;
      grid-template-columns: 45% 45%;
      grid-template-rows: 120px 370px 370px 370px;
      row-gap: 50px;
      column-gap: 50px;
      justify-content: center;
      grid-template-areas: "titulo2 titulo2" "dO sC" "wC aOE" "hR hR";
      grid-area: sec2; }
      #grilla .sec2 .titulo2 {
        grid-area: titulo2; }
      #grilla .sec2 #dO {
        grid-area: dO;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 #sC {
        grid-area: sC;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 #wC {
        grid-area: wC;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 #aOE {
        grid-area: aOE;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 #hR {
        grid-area: hR;
        min-width: 40px;
        font-size: 12px; }
      #grilla .sec2 img {
        width: 300px; }
  #grillaIndu {
    grid-template-rows: 1400px 1400px 1400px;
    /*Remeras*/ }
    #grillaIndu .remeras {
      grid-template-columns: 311px;
      grid-template-rows: 568px 568px;
      grid-template-areas: "RH"  "RM";
      column-gap: 0px;
      row-gap: 150px; }
    #grillaIndu .buzos {
      grid-template-columns: 311px;
      grid-template-rows: 568px 568px;
      grid-template-areas: "BH" "BM";
      column-gap: 0px;
      row-gap: 150px; }
    #grillaIndu .gorras {
      grid-template-columns: 311px;
      grid-template-rows: 568px 568px;
      grid-template-areas: "GH" "GM";
      column-gap: 0px;
      row-gap: 150px; }
  /*Contacto*/
  /*Seccion Formulario*/
  #contacto {
    grid-template-columns: 400px 200px;
    grid-template-rows: 300px;
    grid-template-areas: "form sponsors" "form sponsors "; }
  footer {
    padding-top: 10px;
    grid-template-columns: 150px;
    grid-template-rows: 90px  30px 30px;
    height: 230px;
    column-gap: 25px;
    row-gap: 25px; }
    footer .marca {
      width: 100px;
      height: 100px; }
    footer #redes {
      grid-template-columns: 35px 35px 35px 35px;
      grid-template-rows: 35px; } }

/* Large devices (desktops)*/
@media only screen and (min-width: 992px) {
  .navbar-brand #aM {
    font-size: 17px; }
  #acerca {
    grid-template-columns: 520px 300px;
    grid-template-rows: 450px;
    grid-template-areas: "video resena";
    background-color: #1c1c20;
    justify-content: space-evenly;
    align-items: center; }
    #acerca iframe {
      width: 520px;
      height: 320px; }
    #acerca .reseña p {
      text-align: justify;
      font-size: 19px;
      line-height: 1.1; }
  #grilla {
    grid-template-columns: 100%;
    grid-template-rows: 300px 1800px;
    margin-top: 250px;
    /*seccion 1*/
    /*seccion 2*/ }
    #grilla .sec1 {
      width: 1000px;
      background-color: #1c1c20;
      height: 550px;
      display: grid;
      grid-template-columns: 350px;
      grid-template-rows: 120px 200px 200px;
      grid-template-areas: "titulo1" "wZ" "rE";
      row-gap: 10px;
      column-gap: 10px;
      justify-content: space-evenly; }
      #grilla .sec1 .titulo1 {
        color: #bebebe;
        grid-area: titulo1;
        align-self: center;
        justify-self: center; }
      #grilla .sec1 #wZ {
        min-width: 900px;
        grid-area: wZ;
        align-self: center;
        justify-self: center; }
      #grilla .sec1 #rE {
        min-width: 900px;
        grid-area: rE;
        align-self: center;
        justify-self: center; }
      #grilla .sec1 img {
        width: 100%; }
    #grilla .sec2 {
      width: 1000px;
      background-color: #1c1c20;
      height: 1000px;
      display: grid;
      grid-template-columns: 350px;
      grid-template-rows: 150px 150px 150px 150px 150px 150px;
      grid-template-areas: "titulo2" "dO" "sC" "wC" "aOE" "hR";
      row-gap: 10px;
      column-gap: 30px;
      justify-content: center;
      margin-top: 1050px; }
      #grilla .sec2 #dO {
        min-width: 720px;
        grid-area: dO;
        align-self: center;
        justify-self: center; }
      #grilla .sec2 #sC {
        min-width: 720px;
        grid-area: sC;
        align-self: center;
        justify-self: center; }
      #grilla .sec2 #wC {
        min-width: 720px;
        grid-area: wC;
        align-self: center;
        justify-self: center; }
      #grilla .sec2 #aOE {
        min-width: 720px;
        grid-area: aOE;
        align-self: center;
        justify-self: center; }
      #grilla .sec2 #hR {
        min-width: 720px;
        grid-area: hR;
        align-self: center;
        justify-self: center; }
      #grilla .sec2 img {
        width: 100%; }
  /*Compras*/
  /*Grilla Indumentaria*/
  #grillaIndu {
    grid-template-columns: 100%;
    grid-template-rows: 750px 750px 750px;
    /*Remeras*/
    /*Buzos*/
    /*Gorras*/ }
    #grillaIndu .remeras {
      grid-template-columns: 300px 300px;
      grid-template-rows: px;
      grid-template-areas: "RH RM"; }
    #grillaIndu .buzos {
      grid-template-columns: 300px 300px;
      grid-template-rows: 300px;
      grid-template-areas: "BH BM"; }
    #grillaIndu .gorras {
      grid-template-columns: 300px 300px;
      grid-template-rows: 300px;
      grid-template-areas: "GH GM"; }
  #contacto {
    grid-template-columns: 500px 350px;
    grid-template-rows: 300px;
    grid-template-areas: "form sponsors" "form sponsors "; }
  footer {
    padding-top: 20px;
    grid-template-columns: 150px;
    grid-template-rows: 90px  30px 30px;
    height: 260px;
    column-gap: 27px;
    row-gap: 27px; }
    footer .marca {
      width: 110px;
      height: 110px; }
    footer #redes {
      grid-template-columns: 37px 37px 37px 37px;
      grid-template-rows: 37px; } }

/* Extra large devices (large desktops)*/
@media only screen and (min-width: 1200px) {
  .navbar-brand #aM {
    font-size: 20px; }
  #acerca {
    grid-template-columns: 640px 400px;
    grid-template-rows: 500px;
    grid-template-areas: "video resena";
    background-color: #1c1c20;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 50px; }
    #acerca iframe {
      width: 640px;
      height: 480px; }
    #acerca .reseña p {
      font-size: 20px;
      line-height: 1.3; }
  #grilla {
    grid-template-columns: 100%;
    grid-template-rows: 300px 1800px;
    margin-top: 250px;
    /*seccion 1*/
    /*seccion 2*/ }
    #grilla .sec1 {
      width: 1000px;
      background-color: #1c1c20;
      height: 550px;
      display: grid;
      grid-template-columns: 350px;
      grid-template-rows: 120px 200px 200px;
      grid-template-areas: "titulo1" "wZ" "rE";
      row-gap: 10px;
      column-gap: 10px;
      justify-content: space-evenly; }
      #grilla .sec1 .titulo1 {
        color: #bebebe;
        grid-area: titulo1;
        align-self: center;
        justify-self: center; }
      #grilla .sec1 #wZ {
        min-width: 900px;
        grid-area: wZ;
        align-self: center;
        justify-self: center; }
      #grilla .sec1 #rE {
        min-width: 900px;
        grid-area: rE;
        align-self: center;
        justify-self: center; }
      #grilla .sec1 img {
        width: 100%; }
    #grilla .sec2 {
      width: 1000px;
      background-color: #1c1c20;
      height: 1000px;
      display: grid;
      grid-template-columns: 350px;
      grid-template-rows: 150px 150px 150px 150px 150px 150px;
      grid-template-areas: "titulo2" "dO" "sC" "wC" "aOE" "hR";
      row-gap: 10px;
      column-gap: 30px;
      justify-content: center;
      margin-top: 1050px; }
      #grilla .sec2 #dO {
        min-width: 720px;
        grid-area: dO;
        align-self: center;
        justify-self: center; }
      #grilla .sec2 #sC {
        min-width: 720px;
        grid-area: sC;
        align-self: center;
        justify-self: center; }
      #grilla .sec2 #wC {
        min-width: 720px;
        grid-area: wC;
        align-self: center;
        justify-self: center; }
      #grilla .sec2 #aOE {
        min-width: 720px;
        grid-area: aOE;
        align-self: center;
        justify-self: center; }
      #grilla .sec2 #hR {
        min-width: 720px;
        grid-area: hR;
        align-self: center;
        justify-self: center; }
      #grilla .sec2 img {
        width: 100%; }
  #grillaIndu {
    grid-template-columns: 100%;
    grid-template-rows: 800px 800px 800px; }
    #grillaIndu .remeras {
      grid-template-columns: 311px 311px;
      grid-template-rows: 568px;
      grid-template-areas: "RH RM";
      column-gap: 100px;
      row-gap: 30px; }
    #grillaIndu .buzos {
      grid-template-columns: 311px 311px;
      grid-template-rows: 568px;
      grid-template-areas: "BH BM";
      column-gap: 100px;
      row-gap: 30px; }
    #grillaIndu .gorras {
      grid-template-columns: 311px 311px;
      grid-template-rows: 568px;
      grid-template-areas: "GH GM";
      column-gap: 100px;
      row-gap: 30px; }
  #contacto {
    grid-template-columns: 300px 500px;
    grid-template-rows: 300px;
    grid-template-areas: "form form sponsors"; }
  footer {
    grid-template-columns: 150px;
    grid-template-rows: 120px  30px 30px;
    width: 100%;
    height: 300px;
    column-gap: 30px;
    row-gap: 30px; }
    footer .marca {
      width: 120px;
      height: 120px; }
    footer #redes {
      grid-template-columns: 40px 40px 40px 40px;
      grid-template-rows: 40px; } }
