/*Cuerpo de pagina */  
*{
    body{
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background: url(../img/fondo.jpg) no-repeat center center fixed;
        background-size: cover;  
    }
}
/*Menu nav y logo*/
.navbar-brand{
    width: 15%;
    animation-name: logo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    @keyframes logo{
    from {
          transform: rotatex(0deg)
        }
    to{
          transform: rotateX(360deg)
        }
      }
    #logo{
          width: 70px;
          height: 70px;
      }
    img{
          width: 100%;
      }
    #aM{
          font-size: 20px;
      }
}

/*Index*/
/*Video Promocional*/

#acerca{
    margin-top: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 640px 400px;
    grid-template-rows: 500px;
    grid-template-areas: "video resena";
    background-color: rgb(28, 28, 32);
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    .video{
        grid-area: video;
        
    }
    iframe{
        width: 640px;
        height: 480px;
    }

    .reseña{
        grid-area: resena;
    p{
        text-align: justify;
        color: rgba(255, 255, 255, 0.808);
        font-size: 20px;
        line-height: 1.3;
    }
}

}
/*Pie de Pagina*/
footer{ 
    margin-top: 500px;
    display: grid;
    grid-template-columns: 150px 60px ;
    grid-template-rows: 120px  120px 50px;
    grid-template-areas: "Marca"
                         "redes"
                         "bF";
    background-color: rgb(28, 28, 32);
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
.marca{
    padding-top: 30px;
    grid-area: Marca;
    width: 120px;
    height: 120px;
}
#breadFooter{
    grid-area: bF;
}
#redes{
    padding-top: 20px;
    grid-area: redes;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: "in yo fb tw";
    justify-content: space-around;
    align-items: center;
    column-gap: 30px;
}
.iN{
    grid-area: in;
}
.yT{
    grid-area: yo;
}
.fB{
    grid-area: fa;
}
.tC{
    grid-area: tw;
} 
img{
    width: 100%;
}
}


/*Compras*/
/*Grilla Indumentaria*/
#grillaIndu{
    padding-top: 200px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 800px 800px 800px;
    row-gap: 0px;
    img{
        width: 100%;
    }
    .card-img-top:hover{
        transform: scale(1.1,1.1);
        transition: 1s;
    }
    /*Remeras*/
    .remeras{
        display: grid;
        justify-content: center; 
        grid-template-columns: 311px 311px;
        grid-template-rows: 568px;
        grid-template-areas:"RH RM";
        row-gap: 30px;
        .card-body{
            background-color: rgba(32, 32, 32, 0.87);
        }
        .card{
            background-color: transparent;
            color: white;
        }
        #rH{
            grid-area: RH;
            border: none;   
        }
        #rM{
            grid-area: RM;
            border: none;   
        }
    }
    /*Buzos*/
    .buzos{
    display: grid;
    justify-content: center; 
    grid-template-columns: 311px 311px;
    grid-template-rows: 568px;
    grid-template-areas: "BH BM";
    row-gap: 30px;
    }
    .card-body{
        background-color: rgba(32, 32, 32, 0.705);
    }
    .card{
        background-color: transparent;
        color: white;
    }

   #bH{
        grid-area: BH;
        border: none; 
    }
   #bM{
        grid-area: BM;
        border: none;
    }
  
    
    /*Gorras*/
    .gorras{
        display: grid;
        justify-content: center; 
        grid-template-columns: 311px 311px;
        grid-template-rows: 568px;
        grid-template-areas:"GH GM";
        row-gap: 30px;
        .card-body{
            background-color: rgba(32, 32, 32, 0.87);
        }
        .card{
            background-color: transparent;
            color: white;
        }
        #gH{
            grid-area: GH;
            border: none; 
        }
        #gM{
            grid-area: GM;
            border: none; 
        }
    }
}


/*Juegos*/
/*Grilla de imagenes*/
#grilla{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 700px 800px;
    justify-items: center;
    align-items: center;
    grid-template-areas: "sec1"
                         "sec2";
    @mixin juegos ($ancho, $fondo, $alto, $grilla, $columna, $filas, $rowG, $ColumG, $justify, $areas){
        width: $ancho;
        background-color: $fondo;
        height: $alto;
        display: $grilla;
        grid-template-columns: $columna;
        grid-template-rows: $filas;
        row-gap: $rowG;
        column-gap: $ColumG;
        justify-content: $justify;
        grid-template-areas: $areas;
    }
    .img-fluid:hover{
        transform: scale(1.1,1.1);
        transition: 1s;

    }
    /*seccion 1*/

    .sec1{
        @include juegos(1000px, rgb(28, 28, 32), 550px, grid, 350px, 120px 200px 200px, 10px, 10px, space-evenly, "titulo1"
                                                                                                                    "wZ" 
                                                                                                                    "rE");
        grid-area: sec1;
        
        
        .titulo1{
            color: rgb(190, 190, 190);
            grid-area: titulo1;
            align-self: center;
            justify-self: center;
    
        }
        #wZ{
            min-width: 900px;
            grid-area: wZ;
            align-self: center;
            justify-self: center;
        }
        #rE{
            min-width: 900px;
            grid-area: rE;  
            align-self: center;
            justify-self: center;
        }
     
        img{
            width: 100%;
        }
    }
    /*seccion 2*/
    .sec2{
        @include juegos(1000px, rgb(28, 28, 32), 1000px, grid, 350px, 120px 150px 150px 150px 150px 150px, 10px, 30px, center,  "titulo2"  
                                                                                                                                   "dO" 
                                                                                                                                   "sC"
                                                                                                                                   "wC"
                                                                                                                                   "aOE"
                                                                                                                                   "hR");
        grid-area: sec2;

        .titulo2{
            color: rgb(190, 190, 190);
            grid-area: titulo2;
            align-self: center;
            justify-self: center;
    
        }
        #dO{
            min-width: 720px;
            grid-area: dO;
            align-self: center;
            justify-self: center; 
        }

        #sC{
            min-width: 720px;
            grid-area: sC; 
            align-self: center;
            justify-self: center;
        }

        #wC{
            min-width: 720px;
            grid-area: wC; 
            align-self: center;
            justify-self: center;
        }

        #aOE{
            min-width: 720px;
            grid-area: aOE; 
            align-self: center;
            justify-self: center;
        }

        #hR{
            min-width: 720px;
            grid-area: hR; 
            align-self: center;
            justify-self: center;
        }

        img{
            width: 100%;
        }
    }
    
}


/*Contacto*/
/*Seccion Formulario*/
#contacto{
    margin-top: 300px;
    width: 100%;
    display: grid;
    background-color: rgb(28, 28, 32);
    grid-template-columns:  300px 500px ;
    grid-template-rows: 300px ;
    grid-template-areas: "form form sponsors";
    justify-content: space-around;
    align-items: center;
    column-gap: 40px;
    row-gap: 100px;
    #form{
        grid-area: form;
        padding-right: 10px;
        border-right: 2px solid rgba(0, 0, 0, 0.568);
    }
    #textColor{
        color: white;
    }
    /*spornsors*/
    .grid-Carousel{
        grid-area: sponsors;
    #carouselExampleSlidesOnly{
        grid-area: carousel;}
    }
}

/*MediaQuerys*/
@import "../scss/media.scss";