
/* small devices (tablets, 548px and up)*/
@media only screen and (min-width: 548px) {
    .navbar-brand{
    #aM{
        font-size: 13px;
    }
}
#presentacion{
    video{
        margin-top: 100px;
        margin-bottom: 100px;
        width: 500px;
        height: 400px;
    }
}
#acerca{
    .rese単a{
        font-size: 15px;
        line-height: 1.1;
    }
}
#grilla{
    .sec1{
        row-gap: 30px;
        height: 600px;
        justify-content: center;
        align-items:center;
        width: 70%;
        grid-template-columns: 250px;
        grid-template-rows:  50px 20px 150px 20px 150px;
        grid-template-areas:  "sT1" 
                              "b3"
                              "wZ"
                              "b5"
                              "rE";
    }
    .sT1{
        font-size: 20px;
    }
    .b3{
        font-size: 15px;
    }
    .b5{
        font-size: 15px;
    }
    .sec2{
        margin-top: 700px;
        row-gap: 30px;
        height: 1300px;
        justify-content: center;
        align-items:center;
        width: 70%;
        grid-template-columns: 250px;
        grid-template-rows:  50px 20px 150px 20px 150px 20px 150px 20px 150px 20px 150px;
        grid-template-areas:   "sT2" 
                                "c3"  
                                "dO"
                                "c4"
                                "sC"
                                "c5"
                                "wC"
                                "c6"  
                                "aOE"
                                "c8"
                                "hR";
    }
    .sT2{
        font-size: 20px;
    }
    .c3{
        font-size: 15px;
    }
    .c4{
        font-size: 15px;
    }
    .c5{
        font-size: 15px;
    }
    .c6{
        font-size: 15px;
    }
    .c8{
        font-size: 15px;
    }
}
    #grillaIndu{
        grid-template-rows: 1600px 1600px 1600px;
    

    /*Remeras*/
    .remeras{
        grid-template-columns: 311px;
        grid-template-rows: 50px 568px 30px 30px 50px 568px 30px 30px;
        grid-template-areas: "TR"
                             "RH" 
                             "SRH"
                             "IRH"
                             "RM"
                             "SRM"
                             "IRM";
        column-gap: 0px;
        row-gap: 20px;
    }
    .buzos{

        grid-template-columns: 311px;
        grid-template-rows:  50px 568px 30px 30px 50px 568px 30px 30px;
        grid-template-areas: "TB"
                            "BH"
                            "SBH"
                            "IBH"
                            "BM"
                            "SBM"
                            "IBM";
        column-gap: 0px;
        row-gap: 20px;
    
    }
    .gorras{

        grid-template-columns: 311px;
        grid-template-rows:  50px 568px 30px 30px 50px 568px 30px 30px;
        grid-template-areas: "TG"
                             "GH"
                             "SGH" 
                             "IGH" 
                             "GM"
                             "SGM"
                             "IGM";
        column-gap: 0px;
        row-gap: 40px;
    
    }
    }
    footer{ 

        grid-template-columns: 150px;
        grid-template-rows: 90px  30px 30px;
        width: 100%;
        height: 200px;
        column-gap: 20px;
        row-gap: 20px;
    
    .marca{
        width: 90px;
        height: 90px;
    }
    #redes{
        grid-template-columns: 30px 30px 30px 30px;
        grid-template-rows: 30px;
    }
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
    .navbar-brand{
    #aM{
        font-size: 17px;
    }
}
#presentacion{
    video{
        margin-top: 100px;
        margin-bottom: 100px;
        width: 640px;
        height: 480px;
    }
}
#acerca{
    .rese単a{
        font-size: 17px;
        line-height: 1.2;
    }
}
#grilla{
    .sec1{
        row-gap: 30px;
        height: 650px;
        justify-content: center;
        align-items:center;
        width: 70%;
        grid-template-columns: 350px;
        grid-template-rows:  50px 20px 180px 20px 180px;
        grid-template-areas:  "sT1" 
                              "b3"
                              "wZ"
                              "b5"
                              "rE";
    }
    .sT1{
        font-size: 23px;
    }
    .b3{
        font-size: 18px;
    }
    .b5{
        font-size: 18px;
    }
    .sec2{
        margin-top: 700px;
        row-gap: 30px;
        height: 1400px;
        justify-content: center;
        align-items:center;
        width: 70%;
        grid-template-columns: 350px;
        grid-template-rows:  50px 20px 175px 20px 175px 20px 175px 20px 175px 20px 175px;
        grid-template-areas:   "sT2" 
                                "c3"  
                                "dO"
                                "c4"
                                "sC"
                                "c5"
                                "wC"
                                "c6"  
                                "aOE"
                                "c8"
                                "hR";
    }
    .sT2{
        font-size: 23px;
    }
    .c3{
        font-size: 18px;
    }
    .c4{
        font-size: 18px;
    }
    .c5{
        font-size: 18px;
    }
    .c6{
        font-size: 18px;
    }
    .c8{
        font-size: 18px;
    }
}
    #grillaIndu{
        grid-template-rows: 1600px 1600px 1600px;
    

    /*Remeras*/
    .remeras{
        grid-template-columns: 311px;
        grid-template-rows: 50px 568px 30px 30px 50px 568px 30px 30px;
        grid-template-areas: "TR"
                             "RH" 
                             "SRH"
                             "IRH"
                             "RM"
                             "SRM"
                             "IRM";
        column-gap: 0px;
        row-gap: 20px;
    }
    .buzos{

        grid-template-columns: 311px;
        grid-template-rows:  50px 568px 30px 30px 50px 568px 30px 30px;
        grid-template-areas: "TB"
                            "BH"
                            "SBH"
                            "IBH"
                            "BM"
                            "SBM"
                            "IBM";
        column-gap: 0px;
        row-gap: 20px;
    
    }
    .gorras{

        grid-template-columns: 311px;
        grid-template-rows:  50px 568px 30px 30px 50px 568px 30px 30px;
        grid-template-areas: "TG"
                             "GH"
                             "SGH" 
                             "IGH" 
                             "GM"
                             "SGM"
                             "IGM";
        column-gap: 0px;
        row-gap: 20px;
    
    }
    }
    footer{ 
        padding-top: 10px;
        grid-template-columns: 150px;
        grid-template-rows: 90px  30px 30px;
        height: 230px;
        column-gap: 25px;
        row-gap: 25px;
    
    .marca{
        width: 100px;
        height: 100px;
    }
    #redes{
        grid-template-columns: 35px 35px 35px 35px;
        grid-template-rows: 35px;
    }
}
 }
/* Large devices (desktops)*/
@media only screen and (min-width: 992px) {
    .navbar-brand{
    #aM{
        font-size: 17px;
    }
}
#presentacion{
    video{
        margin-top: 100px;
        margin-bottom: 100px;
        width: 640px;
        height: 480px;
    }
}
#acerca{
    .rese単a{
        font-size: 25px;
        line-height: 1.3;
    }
}
#grilla{
    .sec1{
        margin-top: 400px;
        row-gap: 80px;
        height: 900px;
        justify-content: center;
        align-items:center;
        width: 70%;
        grid-template-columns: 500px;
        grid-template-rows:  50px 20px 200px 20px 200px;
        grid-template-areas:  "sT1" 
                              "b3"
                              "wZ"
                              "b5"
                              "rE";
    }
    .sT1{
        font-size: 25px;
    }
    .b3{
        font-size: 20px;
    }
    .b5{
        font-size: 20px;
    }
    .sec2{
        margin-top: 1900px;
        row-gap: 70px;
        height: 2000px;
        justify-content: center;
        align-items:center;
        width: 70%;
        grid-template-columns: 500px;
        grid-template-rows:  50px 20px 200px 20px 200px 20px 200px 20px 200px 20px 200px;
        grid-template-areas:   "sT2" 
                                "c3"  
                                "dO"
                                "c4"
                                "sC"
                                "c5"
                                "wC"
                                "c6"  
                                "aOE"
                                "c8"
                                "hR";
    }
    .sT2{
        font-size: 25px;
    }
    .c3{
        font-size: 20px;
    }
    .c4{
        font-size: 20px;
    }
    .c5{
        font-size: 20px;
    }
    .c6{
        font-size: 20px;
    }
    .c8{
        font-size: 20px;
    }
}
    #grillaIndu{
        padding-top: 200px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 800px 800px 800px;
    

    .remeras{
        display: grid;
        justify-content: center; 
        grid-template-columns: 311px 311px;
        grid-template-rows: 50px 568px 30px 30px;
        grid-template-areas: "TR TR"
                             "RH RM"
                             "SRH SRM"
                             "IRH IRM";
        column-gap: 100px;
        row-gap: 30px;
    }
    .buzos{
        display: grid;
        justify-content: center; 
        grid-template-columns: 311px 311px;
        grid-template-rows:  50px 568px 30px 30px;
        grid-template-areas: "TB TB"
                            "BH BM"
                            "SBH SBM"
                            "IBH IBM";
        column-gap: 100px;
        row-gap: 30px;
    
    }
    .gorras{
        display: grid;
        justify-content: center; 
        grid-template-columns: 311px 311px;
        grid-template-rows:  50px 568px 30px 30px;
        grid-template-areas: "TG TG"
                             "GH GM"
                             "SGH SGM"
                             "IGH IGM";
        column-gap: 100px;
        row-gap: 30px;
    
    }
}
    footer{ 
        margin-top: 1200px;
        padding-top: 20px;
        grid-template-columns: 150px;
        grid-template-rows: 90px  30px 30px;
        height: 260px;
        column-gap: 27px;
        row-gap: 27px;
    
    .marca{
        width: 110px;
        height: 110px;
    }
    #redes{
        grid-template-columns: 37px 37px 37px 37px;
        grid-template-rows: 37px;
    }
 }
}
/* Extra large devices (large desktops)*/
@media only screen and (min-width: 1200px) {
.navbar-brand{ 
    #aM{
        font-size: 20px;
    }
}
#presentacion{
    video{
        width: 640px;
        height: 640px;
    }
}
#acerca{
    .rese単a{
        font-size: 30px;
        line-height: 1.3;
    }
}
#grilla{
    .sec1{
        height: 450px;
        width: 1500px;
        grid-template-columns: 400px 150px 400px ;
        grid-template-rows: 50px 50px 250px ;
        grid-template-areas:  "b1 sT1 b2" 
                              "b3 b4 b5"
                              "wZ b6 rE";
        row-gap: 10px;
        column-gap: 10px;
        justify-content: space-evenly;   
    }
    .sT1{
        font-size: 30px;
    }
    .b3{
        font-size: 25px;
    }
    .b5{
        font-size: 25px;
    }
    .sec2{
        margin-top: 500px;
        height: 900px;
        width: 1500px;
        background-image: linear-gradient(to top, rgba(10, 10, 10, 0.884),rgba(10, 10, 10, 0.884));
        display: grid;
        grid-template-columns: 400px 400px 400px;
        grid-template-rows: 150px 50px 300px 50px 300px;
        grid-template-areas:  "c1 sT2 c2" 
                              "c3 c4 c5"
                              "dO sC wC"
                              "c6 c7 c8"
                              "aOE b9 hR";
        row-gap: 10px;
        column-gap: 10px; 
        justify-content: center;
        align-content: center;  
    }
    .sT2{
        font-size: 30px;
    }
    .c3{
        font-size: 25px;
    }
    .c4{
        font-size: 25px;
    }
    .c5{
        font-size: 25px;
    }
    .c6{
        font-size: 25px;
    }
    .c8{
        font-size: 25px;
    }
}
    #grillaIndu{
        padding-top: 200px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 800px 800px 800px;
    .remeras{
        display: grid;
        justify-content: center; 
        grid-template-columns: 311px 311px;
        grid-template-rows: 50px 568px 30px 30px;
        grid-template-areas: "TR TR"
                             "RH RM"
                             "SRH SRM"
                             "IRH IRM";
        column-gap: 100px;
        row-gap: 30px;
    }
    .buzos{
        display: grid;
        justify-content: center; 
        grid-template-columns: 311px 311px;
        grid-template-rows:  50px 568px 30px 30px;
        grid-template-areas: "TB TB"
                            "BH BM"
                            "SBH SBM"
                            "IBH IBM";
        column-gap: 100px;
        row-gap: 30px;
    
    }
    .gorras{
        display: grid;
        justify-content: center; 
        grid-template-columns: 311px 311px;
        grid-template-rows:  50px 568px 30px 30px;
        grid-template-areas: "TG TG"
                             "GH GM"
                             "SGH SGM"
                             "IGH IGM";
        column-gap: 100px;
        row-gap: 30px;
    
    }
    }
    footer{ 
        padding-top: 30px;
        grid-template-columns: 150px;
        grid-template-rows: 120px  30px 30px;
        width: 100%;
        height: 300px;
        column-gap: 30px;
        row-gap: 30px;
    
    .marca{
        width: 120px;
        height: 120px;
    }
    #redes{
        grid-template-columns: 40px 40px 40px 40px;
        grid-template-rows: 40px;
    }
}
}